@mixin setupBlogRowItem(){
    .blog-row-item{
        width : calc(1/3 * (100% - (2 * 30px)));
        margin-left : 15px;
        margin-right : 15px;
        img{
            display : block;
            width : 100%;
        }
        h5{
            padding-top : 14px;
            padding-bottom : 14px;
            color : $grey;
            font-weight : 200;
            font-size : 0.9rem;
        }
        h4{
            padding-bottom : 26px;
            font-size : 1.1rem;
            letter-spacing : 1px;
        }
    
        a{
            color : black;
            padding-bottom : 1px;
            border-style : none none solid none;
            border-width : 1px;
            font-size : 0.85rem;
        }
    }
    
    .blog-row-item:first-of-type{
        margin-left : 0px;
    }
    
    .blog-row-item:last-of-type{
        margin-right : 0px;
    }
}


@mixin setupBlogSection(){
    .blog-section{
        padding-top : 70px;
        padding-bottom : 70px;
        h3{
            padding-top : 30px;
            padding-bottom : 30px;
            text-align : center;
            @include sectionHeaderTypography();
        }
    }

    @include setupBlogRowItem();
}