@mixin setupPageTitleSection(){
    .page-title-section{  
        position: relative;
        background: url("../assets/t-flowers.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size:  cover;
        -o-background-size:  cover;
        background-size:  cover;
        background-position : center;
    
        .wrapper{
            padding-top: 278px;
            padding-bottom: 20px;
            max-width: 1920px;
        }
    
        h4{
            padding-bottom: 4px;
            padding-top: 22px;
           text-align: center;
           font-size: 2rem;
           font-weight: 300;
           color: $grey;
           
        }
    
        h1{
            padding-top: 4px;
            padding-bottom: 0px;
            text-align: center;
            font-size: 3.8rem;
            font-weight: 500;
        }
    
        .shop-now-link{
            padding-top: 18px;
            padding-bottom: 18px;
            margin: 0 auto;
            width: 185px;
            text-align: center;
            margin-bottom: 220px;
            background-color : $labelRed;   
            text-transform : uppercase;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 1px;
    
            a{
                color: white;
            }
        }
    
        .carousel-img{
            display: block;
            margin: 0 auto;
            padding-bottom: 20px;
            padding-top: 20px;
            margin-top: 88px;
        }


    }

    .title-arrow-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        margin-bottom: 16px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .arrow-left, .arrow-right{
        top: -17px;
        position: relative;
    }

    .page-title-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0,0,100%,0.0);
        transition: ease 1s;
        pointer-events: none;
    }

    .shop-now-link:hover  +.page-title-overlay{
        background-color: hsla(0,0,100%,0.3);
    }
}