@mixin setupSignUpSection(){
    .sign-up-section{
        text-align : center;

        h3{
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            @include sectionHeaderTypography();
        }

        p{       
            width: 48%;
            margin: 0 auto;
            margin-bottom: 80px;
            font-size: 0.9rem;
            line-height: 26px;
            color: $grey;
            font-weight: 300;
        }
    
        input{
            width: 100%;
            height: 48px;
            border-style: none none solid none;
            border-width: 1px;
            border-color: $grey;
            color: $grey;
            font-size: 0.9rem;
            font-weight: 300;
            
        }

        .sign-up-input-container{
            margin: 0 auto;
            position : relative;
            display : flex;
            width : 70%;
        }

        .sign-up-input-container::after{
            content : url("../assets/email-mail-img.png");
            position : absolute;
            right : 0;
            top : 20px;
            
        }
    }
}