@import "components/header";
@import "components/page-title-section";
@import "components/about-section";
@import "components/product-options-section";
@import "components/popular-products-section";
@import "components/testimonials-section";
@import "components/blog-section";
@import "components/sign-up-section";
@import "components/partners-section";
@import "utilities/flexbox";

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


$debug : false;
$grey : #888890;
$labelRed :  #f07f84;


@mixin debugBorders($d){
    @if($d){
        border-style : solid;
        border-width :1px;
        border-color : darkgrey;
    }
}


*{
    @include debugBorders($debug);
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration : none;
}

ul{
    list-style : none;
}

.flexRow{
    @include displayFlex(row);
}

.wrapper{
    max-width : 1172px;
    margin : 0 auto;
}

@mixin sectionHeaderTypography(){
    font-size : 2.3rem;
    font-weight : 400;
}


@include setupPageHeader();
@include setupPageTitleSection();
@include setupAboutSection();
@include setupProductOptionsSection();
@include setupPopularProductsSection();
@include setupTestimonialsSection();
@include setupBlogSection();
@include setupSignUpSection();
@include setupPartnersSection();





.page-footer{
    margin-top : 100px;
    
    p{
        padding-top : 48px;
        padding-bottom : 48px;
    }

    .page-footer-top, .page-footer-bottom, {
        display : flex;
        justify-content : space-between;
    }

    .social-media-row{
        justify-content : left;
    }

    .instagram-image-row{
        justify-content : space-between;
        max-width : 270px;
    }
    
    .page-footer-col1{
        width : 39.74%;
    }

    .page-footer-col2, .page-footer-col3{
        width : 14%;
    }

    .page-footer-col4{
        width : 23.07%;
    }

    h3{
        padding-bottom : 20px;
        margin-bottom : 40px;
        font-size : 1.45rem;
        font-weight : 300;
    }
}

.page-footer-col1{

    p{
        color : $grey;
        font-size : 0.85rem;
        font-weight : 300;
        line-height : 28px;
    }

    h4{
        width : calc(70%);
        padding-bottom : 16px;
        color : $grey;
        font-weight : 300;
        font-size : 0.85rem;

    }
    em{
       font-style : normal;
       color : black;
       font-weight : 700;
    }
}

.social-media-row{
    padding-top : 28px;
    li{
        margin-right : 38px;
    }
}

.page-footer-top{
    margin-bottom : 100px;
}

.page-footer-col2 li, .page-footer-col3 li{
    padding-bottom : 14px;
    font-size : 0.85rem;
    a{
        color : $grey;
        font-weight : 300;
    }
    
}

.instagram-image-row{
    flex-wrap : wrap;
    img{
        display : block;
        margin: auto;
        margin-top : 10px;
    }
}

.credit-cards{
    margin-top : 40px;
}

.page-footer-bottom {
    h5{
        color : $grey;
        font-weight : 200;
        font-size : 0.9rem;
    }
    em{
        color: black;
    }
}

@media(max-width : 1180px){
        .wrapper{
            width : 96%;
        }
}

@media(max-width : 1100px){
    .page-footer-top{
        flex-wrap : wrap;
        .wrapper{
            flex-wrap : wrap;
        }

        .page-footer-col1, .page-footer-col2, .page-footer-col3, .page-footer-col4{
            width : 50%;
        }
        .page-footer-col2{
            order : 3;
        }
    
        .page-footer-col3{
            order : 4;
        }

        h3{
            margin-bottom : 10px;
            padding-bottom : 5px;
            // border-style : solid none none none;
            // border-width : 1px;
            
        }
    }

}

@media(max-width : 1040px){
    .testimonials-section{
        .wrapper{
            flex-wrap : wrap;
        }
    }

    .testimonials-section-left, .testimonials-section-right{
        width : 95%;
        margin : 0 auto;
    }

    .testimonials-section-right{
        padding-left : 40px;
        padding-right : 40px;
    }

    .blog-section{
        .blog-row{
            margin : auto;
            width : 95%;
            flex-wrap : wrap;
            justify-content : space-between;
        }

        .blog-row-item{
            width : calc(1/2 * (100% - 40px));
            margin : 0 auto;
            margin-top : 40px;
        }
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 960px) {
    .page-header-col2{
        order : 3;
        justify-content : center;
        width : 100%;
        padding-top : 20px;
    }
    .page-header .wrapper{
        flex-wrap : wrap;
    }
    .page-header-col1, .page-header-col3{
        width : 50%;
    }
}

@media (max-width : 860px){
    .product-options-section{
        .wrapper{
            flex-wrap : wrap;
        }
    }
    .product-options-left{
        width : 95%;
        margin : auto;
    }

    .product-options-right{
        width : 95%;
        margin : auto;
        margin-top : 30px;
    }

    .product-row{
        flex-wrap : wrap;
        justify-content : space-around;
    }

    .product-row-columnItem{
        width : calc((1/3 * 100%) - 20px);
        margin : 0;
    }


}

@media (max-width : 580px){

    .page-footer-top{
        .page-footer-col1, .page-footer-col4{
            width : 100%;
            margin : 0;
            text-align : center;
        }

        .page-footer-col1{
            h4{
                margin : 0 auto;
            }


        }

        .social-media-row{
            justify-content : space-around;
            li{
                margin : 0;
            }
        }
    }

    .instagram-image-row{
        margin : 0 auto;
    }

}


@media (max-width: 540px) {
    .page-header-col1, .page-header-col3{
        width : 100%;
        justify-content : center;
    }

    .page-header-col1 ul{
        li a{
            margin : 0;
        }
        justify-content : space-between;
    }
    .page-header-col1{
        order : 2;
        margin-top : 20px;
    }

    .product-options-right-top-row{
        flex-wrap : wrap;
        // border-style : solid;
        // border-width : 1px;
    }

    .product-options-right-top-row{
        .product-options-label{
            margin : 0 auto;
        }
    }

    .product-options-right-top-row-col1 , .product-options-right-top-row-col2 {
        width : 100%;
        margin : 0 auto;
        margin-top : 30px;
    }

    .product-options-right-bottom-row{
        .product-options-label{
            margin : 0 auto;
            padding-left : 12.5%;
            padding-right : 12.5%;
        }
    }
    .blog-section{


        .blog-row-item{
            width : calc(100%);
            margin : 0 auto;
            margin-top : 40px;
        }
    }

    .page-footer-top{
        .page-footer-col2, .page-footer-col3{
            width : 100%;
            margin : 0 auto;
            text-align : center;
        }
    }

}



/* Landscape phone to portrait tablet */
@media (max-width: 750px) {

    .partners-section .wrapper{
        justify-content : space-around;
    }

    .partners-section-columnItem{
        width : 33%;
        margin : 0;
        margin-top : 20px;
    }

}

@media (max-width: 700px){
    .page-footer-bottom{
        flex-wrap : wrap;
    }
    .page-footer-bottom-left, .page-footer-bottom-right{
        width : 100%;
        margin: 0 auto;
        text-align : center;
    }
}

/* Landscape phones and down */
@media (max-width: 500px) {
    .product-row-columnItem{
        width : calc((1/2 * 100%) - 20px);
        margin : 0;
    }

    .partners-section-columnItem{
        width : 50%;
    }

    .popular-products-section{
        ul{
            flex-wrap : wrap;
            li{
                width : 100%;
            }
        }
    }
}

@media(max-width : 440px){

}

@media (max-width : 400px){
    .product-row-columnItem{
        width : calc(70%);
        margin : 0;
    }   
}






