@import "components/header";
@import "components/page-title-section";
@import "components/about-section";
@import "components/product-options-section";
@import "components/popular-products-section";
@import "components/testimonials-section";
@import "components/blog-section";
@import "components/sign-up-section";
@import "components/partners-section";
@import "components/footer";
@import "utilities/flexbox";
@import "utilities/setup";

$grey : #888890;
$labelRed :  #f07f84;
$teal: #79dad6;

.flexRow{
    @include displayFlex(row);
}

.wrapper{
    max-width : 1172px;
    margin : 0 auto;
}

@mixin sectionHeaderTypography(){
    font-size : 2.3rem;
    font-weight : 400;
}

.underlined-header{
    display : relative;
}

.underlined-header::after{
    content : url("../assets/header-underline.png");
    position : relative;
    display : block;
    top: -26px;

}

@include setupPageHeader();
@include setupPageTitleSection();
@include setupAboutSection();
@include setupProductOptionsSection();
@include setupPopularProductsSection();
@include setupTestimonialsSection();
@include setupBlogSection();
@include setupSignUpSection();
@include setupPartnersSection();
@include setupPageFooter();


//media queries start
@media(max-width : 1180px){
    .wrapper{
            width : 94%;
    }

    .page-footer-top{
        flex-wrap : wrap;

        .wrapper{
            flex-wrap : wrap;
        }

        .page-footer-col1, .page-footer-col2, .page-footer-col3, .page-footer-col4{
            width : 50%;
        }
        .page-footer-col2{
            order : 3;
        }
    
        .page-footer-col3{
            order : 4;
        }
    }
}

@media(max-width : 1040px){
    .testimonials-section{
        .wrapper{
            flex-wrap : wrap;
        }
    }

    .testimonials-section-left, .testimonials-section-right{
        width : 100%;
        margin : 0 auto;
    }

    .testimonials-section-right{
        padding-left : 40px;
        padding-right : 40px;
    }

    .blog-section{
        .blog-row{
            margin : auto;
            width : 100%;
            flex-wrap : wrap;
            justify-content : space-between;
        }

        .blog-row-item{
            width : calc(1/2 * (100% - 40px));
            margin : 0 auto;
            margin-top : 40px;
        }
    }
}

@media (max-width: 960px) {
    .page-header-col2{
        order : 3;
        justify-content : center;
        width : 100%;
        padding-top : 20px;
    }
    .page-header .wrapper{
        flex-wrap : wrap;
    }
    .page-header-col1, .page-header-col3{
        width : 50%;
    }
}

@media (max-width : 860px){
    .product-options-section{
        .wrapper{
            flex-wrap : wrap;
        }
    }
    .product-options-left{
        width : 100%;
        margin : auto;
    }

    .product-options-right{
        width : 100%;
        margin : auto;
        margin-top : 30px;
    }

    .product-row{
        flex-wrap : wrap;
        justify-content : space-around;
    }

    .product-row-columnItem{
        width : calc((1/3 * 100%) - 20px);
        margin : 0;
    }
}

@media (max-width: 750px) {
    .partners-section .wrapper{
        justify-content : space-around;
    }

    .partners-section-columnItem{
        width : 33%;
        margin : 0;
        margin-top : 20px;
    }
}

@media (max-width: 700px){
    .page-footer-bottom{
        flex-wrap : wrap;
    }
    .page-footer-bottom-left, .page-footer-bottom-right{
        width : 100%;
        margin: 0 auto;
    }
}

@media (max-width : 580px){
    .page-footer-top{
        .page-footer-col1, .page-footer-col4{
            width : 100%;
            margin : 0;
        }
    }

    .product-options-section{
        .wrapper{
            width : 88%;
        }
    }
}

@media (max-width: 540px) {
    .page-header-col1, .page-header-col3{
        width : 100%;
        justify-content : center;
    }

    .page-header-col1 ul{
        li a{
            margin : 0;
        }
        justify-content : space-between;
    }
    .page-header-col1{
        order : 2;
        margin-top : 20px;
    }

    .product-options-right-top-row{
        flex-wrap : wrap;
        .flexRow{
            margin : 0;
        }
    }

    .product-options-right-top-row{
        .product-options-label{
            margin : 0 auto;
        }
    }

    .product-options-right-top-row-col1 , .product-options-right-top-row-col2 {
        width : 100%;
        margin : 0 auto;      
    }

    .product-options-right-top-row-col2 {
        margin-top : 30px;
    }

    .product-options-right-bottom-row{
        .product-options-label{
            margin : 0 auto;
            padding-left : 12.5%;
            padding-right : 12.5%;
        }
    }
    .blog-section{
        .blog-row-item{
            width : calc(100%);
            margin : 0 auto;
            margin-top : 40px;
        }
    }

    .page-footer-top{
        .page-footer-col2, .page-footer-col3{
            width : 50%;
            margin : 0 auto;
        }
    }
}


@media (max-width: 500px) {
    .product-row-columnItem{
        width : calc((1/2 * 100%) - 20px);
        margin : 0;
    }

    .partners-section-columnItem{
        width : 50%;
    }

    .popular-products-section{
        ul{
            flex-wrap : wrap;
            li{
                width : 100%;
            }

            a{
                padding-bottom : 2px;
                margin-bottom : 6px;
            }
        }
    }
}

@media (max-width : 400px){
    .product-row-columnItem{
        width : calc(70%);
        margin : 0;
    }
    
    .product-row-columnItem{
        margin-top : 20px;
    }

    .product-row-columnItem:first-of-type{
        margin-top : 0px;
    }
}

//media queries end




